.days-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #ffffff10;
}

.hours-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    padding: 10px 25px;
}

.week-day {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.one-hour {
    font-weight: 300;
    font-size: 13px;
    padding: 2px;
    width: 100%;
}